.headerColor{
    background-color: #DADBF1;
    margin: 0;
    border: 0;
    padding: 80px 30px 115px 30px;
}


.hpad{
    margin-bottom: 35px;
}

footer{
    background-color: black;
    color: white;
    padding: 80px 50px 115px 50px;
}

ul{
    list-style-type: none;
}

.contact{
    margin-top: 75px;
}

.img{
    max-height: 120px;
    margin-right: 30px;
}

div.heroSection{
    padding: 80px 50px 70px 50px;
}